<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grazy.modules.file.mapper.GCloudUserFileMapper">

    <resultMap id="BaseResultMap" type="com.grazy.modules.file.domain.GCloudUserFile">
            <id property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="realFileId" column="real_file_id" jdbcType="BIGINT"/>
            <result property="filename" column="filename" jdbcType="VARCHAR"/>
            <result property="folderFlag" column="folder_flag" jdbcType="TINYINT"/>
            <result property="fileSizeDesc" column="file_size_desc" jdbcType="VARCHAR"/>
            <result property="fileType" column="file_type" jdbcType="TINYINT"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        file_id,user_id,parent_id,
        real_file_id,filename,folder_flag,
        file_size_desc,file_type,del_flag,
        create_user,create_time,update_user,
        update_time
    </sql>


    <select id="selectFileList" resultType="com.grazy.modules.file.vo.UserFileVO">
        SELECT
               file_id AS fileId,
               parent_id AS parentId,
               file_size_desc AS fileSizeDesc,
               folder_flag AS folderFlag,
               file_type AS fileType,
               update_time AS updateTime,
               filename AS filename
        FROM
            g_cloud_user_file
        WHERE
            user_id = #{queryFileParam.userId}
            <if test="queryFileParam.fileIdList != null">
                AND file_id IN
                <foreach collection="queryFileParam.fileIdList" open="(" close=")" item="item" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="queryFileParam.parentId != null and queryFileParam.parentId != -1">
                AND parent_id = #{queryFileParam.parentId}
            </if>
            <if test="queryFileParam.fileTypeArray != null">
                AND file_type IN 
                <foreach collection="queryFileParam.fileTypeArray" item="fileType" open="(" close=")" separator=",">
                #{fileType}
                </foreach>
            </if>
            AND del_flag = #{queryFileParam.delFlag}
    </select>


    <select id="searchFile" resultType="com.grazy.modules.file.vo.FileSearchResultVo">
        SELECT
        file_id AS fileId,
        parent_id AS parentId,
        file_size_desc AS fileSizeDesc,
        folder_flag AS folderFlag,
        update_time AS updateTime,
        filename
        FROM
        g_cloud_user_file
        WHERE
        user_id = #{param.userId}
        AND filename LIKE CONCAT(#{param.keyword},'%')
        <if test="param.fileTypeList != null">
            AND file_type IN
            <foreach collection="param.fileTypeList" item="fileType" open="(" close=")" separator=",">
                #{fileType}
            </foreach>
        </if>
        AND del_flag = 0
    </select>
</mapper>
